[submodule "tmux/tmux/plugins/nord-tmux"]
	path = tmux/tmux/plugins/nord-tmux
	url = https://github.com/arcticicestudio/nord-tmux.git
[submodule "tmux/tmux/pluginstmux-continuum"]
	path = tmux/tmux/pluginstmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "tmux/tmux/plugins/tmux-resurrect"]
	path = tmux/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/tmux/plugins/tmux-continuum"]
	path = tmux/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "tmux/tmux/plugins/tmux-sensible"]
	path = tmux/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "tmux/tmux/plugins/tmux-themepack"]
	path = tmux/tmux/plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule "tmux/tmux/plugins/tpm"]
	path = tmux/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
